@model INSURANCE_FIRST_PROJECT.Models.Useraccount

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post" asp-action="EditPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        


                        <div class="form-group">
                            <label for="conPassword" class="control-label">Old password</label>
                            <input for="conPassword" type="password" name="conPassword" id="conPassword" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="Newpassword" class="control-label">New passsword</label>
                            <input for="Newpassword" type="password" name="Newpassword" id="Newpassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="re_Newpassword" class="control-label">re-enter New passsword</label>
                            <input for="re_Newpassword" type="password" name="re_Newpassword" id="re_Newpassword" class="form-control" />
                        </div>

                        <p style="color:red">@ViewBag.Error</p>
                        <div class="form-group">
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                            <a asp-controller="User" asp-action="Profile" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Cancle </a>
                            

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



