@model INSURANCE_FIRST_PROJECT.Models.Subcrebtion

@{
    ViewData["Title"] = "Details";
    Layout = "_UserLayout";
}

<div class="content-wrapper">
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">


                            <h1>Details</h1>

                            <div>
                                <h3>You Have No Subcrebtion</h3>
                                <hr />
                                
                            </div>
                            <div>
                                <a class="btn btn-primary w-100" asp-controller="Home" asp-action="INSURANCE" asp-route-id="@Model?.Id">SEE INSURANCEs</a> |
                                <a class="btn btn-primary w-100" asp-controller="Home" asp-action="Index">Go Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>