@model IEnumerable<INSURANCE_FIRST_PROJECT.Models.Subcrebtiontype>
@{
    ViewData["Title"] = "INSURANCES";
    // Layout = "_HomeLayout";
    var selectedLayout = ViewBag.layout;
}
@if (selectedLayout == "userlayout")
{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_HomeLayout.cshtml"; // Default layout
}


<div class="site-blocks-cover inner-page overlay" style="background-image: url(/HomeAssets/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
            <h1 class="text-uppercase">Insurances</h1>
            <span class="caption d-block text-white">An Insurance Company</span>
        </div>
    </div>
</div>


@* <div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Products &amp; Services</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary">Insurance Coverage</h2>
            </div>
        </div>
    </div>
</div> *@
<div class="site-section">
    <div class="container">
        <div class="row" style="margin-bottom:50px;">
            <div class="col-md-12 text-center">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Products &amp; Services</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary">Insurance Coverage</h2>
            </div>
        </div>
        @* <div class="row">
            
            <div  class="col-md-6 col-lg-4 mb-5">
                <div class="media-image">
                    <img src="~/HomeAssets/images/img_1.jpg" alt="Image" class="img-fluid">
                    <div class="media-image-body">
                        <h2 class="font-secondary text-uppercase">Home Insurance</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptate.</p>
                        <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                    </div>
                </div>
            </div>
            <div  class="col-md-6 col-lg-4 mb-5">
                <div class="media-image">
                    <img src="~/HomeAssets/images/img_2.jpg" alt="Image" class="img-fluid">
                    <div class="media-image-body">
                        <h2 class="font-secondary text-uppercase">Auto Insurance</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptate.</p>
                        <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                    </div>
                </div>
            </div>
            <div  class="col-md-6 col-lg-4 mb-5">
                <div class="media-image">
                    <img src="~/HomeAssets/images/img_3.jpg" alt="Image" class="img-fluid">
                    <div class="media-image-body">
                        <h2 class="font-secondary text-uppercase">Travel Insurance</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptate.</p>
                        <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                    </div>
                </div>
            </div>


        </div> *@
        <div class="row">
            @foreach (var item in Model){
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="media-image">
                    @* <img src="~/HomeAssets/images/img_1.jpg" alt="Image" class="img-fluid"> *@
                        <img src="@Url.Content("~/imgs/" + item.Image )" alt="Image" class="img-fluid" />

                    <div class="media-image-body">
                        <h2 class="font-secondary text-uppercase">@item.Name</h2>
                        <p>@item.Text1 @item.Price</p>
                            <p><a asp-controller="Home" asp-action="GetSubTypeByID" asp-route-id=@item?.Id class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                    </div>
                </div>
            </div>
            }
        </div>
    
    
    </div>
</div>
