@model INSURANCE_FIRST_PROJECT.Models.About

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Text1" class="control-label"></label>
                <input asp-for="Text1" class="form-control" />
                <span asp-validation-for="Text1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text2" class="control-label"></label>
                <input asp-for="Text2" class="form-control" />
                <span asp-validation-for="Text2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text3" class="control-label"></label>
                <input asp-for="Text3" class="form-control" />
                <span asp-validation-for="Text3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text4" class="control-label"></label>
                <input asp-for="Text4" class="form-control" />
                <span asp-validation-for="Text4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text5" class="control-label"></label>
                <input asp-for="Text5" class="form-control" />
                <span asp-validation-for="Text5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text6" class="control-label"></label>
                <input asp-for="Text6" class="form-control" />
                <span asp-validation-for="Text6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteImage1" class="control-label"></label>
                <input asp-for="siteImage1" class="form-control" />
                <span asp-validation-for="siteImage1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteImage2" class="control-label"></label>
                <input asp-for="siteImage2" class="form-control" />
                <span asp-validation-for="siteImage2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteImage3" class="control-label"></label>
                <input asp-for="siteImage3" class="form-control" />
                <span asp-validation-for="siteImage3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteImage4" class="control-label"></label>
                <input asp-for="siteImage4" class="form-control" />
                <span asp-validation-for="siteImage4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteImage5" class="control-label"></label>
                <input asp-for="siteImage5" class="form-control" />
                <span asp-validation-for="siteImage5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteImage6" class="control-label"></label>
                <input asp-for="siteImage6" class="form-control" />
                <span asp-validation-for="siteImage6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
